name: Build iOS IPA
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Install Dependencies
        run: |
          flutter pub get
          cd ios && pod install && cd ..
      - name: Build iOS
        run: flutter build ios --release --no-codesign
      - name: Create IPA
        run: |
          mkdir Payload
          cp -r build/ios/iphoneos/Runner.app Payload
          zip -r luci-mobile.ipa Payload
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: luci-mobile.ipa
